.search-box {
  background-color: #e80c2c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-box__input {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
}
